/* 1. Definição das variáveis no Tema Claro (Padrão) */
:root {
  --cor-primaria: rgb(131, 99, 217);
  --cor-secundaria: #9e78dc;
  --cor-texto-claro: rgba(53, 24, 197, 0.499);
  --cor-header-fundo: rgba(53, 30, 170, 0.499);
  --cor-header-texto: #ffffff;
  --cor-borda-article: rgba(53, 24, 197, 0.499);
  --cor-fundo-body: #ffffff;
}

/* 2. Redefinição das variáveis para o Tema Escuro */
body.tema-escuro {
  --cor-primaria: #555;
  --cor-secundaria: #333;
  --cor-texto-claro: #eee;
  --cor-header-fundo: #1a1a1a;
  --cor-header-texto: #fff;
  --cor-borda-article: #777;
  --cor-fundo-body: #222;
}

/* 3. Estilos Gerais utilizando as Variáveis */
body {
  background-color: var(--cor-fundo-body);
  color: var(--cor-texto-claro);
  margin: 0;
  transition: background-color 0.3s, color 0.3s; /* Transição suave na troca */
}

header {  
  background-color: var(--cor-header-fundo);
  color: var(--cor-header-texto);
}

main { 
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
  padding: 30px;
}

article {
  display: flex;
  border: 1px solid var(--cor-borda-article);
  margin: 16px;
  padding: 16px;
  flex: 3 1 25%;
  flex-direction: column;
  align-items: center;
}

.btn-tema-escuro {
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
  padding: 16px; 
  background-color: var(--cor-primaria);
  color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}