body {
background-color: rgb(40, 40, 135);
color:rgb(133, 173, 213);
font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}